--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pydantic
sqlalchemy
pandas
numpy<2
chromadb
sentence-transformers
tiktoken
nltk
pypdf
python-dotenv
pytest
python-multipart
torch==2.4.1+cpu